.topdeck {
  background-color: #f5f5f7;
  border-radius: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8.1rem;
  gap: 2.3rem;
  padding-right: 2.2rem;
}
.image {
  width: 6.5rem;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 1.2rem;
  margin: 0.8rem 0 0.8rem 0.8rem;
  object-fit: cover;
  object-position: center;
}
.name {
  overflow: hidden;
  max-width: 16.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.name h3 {
  text-transform: capitalize;
  font-size: 1.6rem;
  font-family: var(--rooney-Heavy);
  width: 16.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.name p {
  font-size: 1.6rem;
  font-family: var(--rooney-regular);
  width: 16.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.graph {
  margin: auto;
}
