.deck {
  width: 100% !important;
  height: 8.2rem;
  background-color: #f5f5f7;
  border-radius: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  gap: 2.4rem;
  padding: 0.8rem 2.2rem 0.8rem 0.8rem;
  transition: 0.3s;
}
.bigimage {
  overflow: hidden;
  /* height: calc(100% - 1.6rem); */
  width: 100%;
  max-width: 6.4rem;
  min-width: 6.4rem;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 1.2rem;
  /* margin: 0.8rem 0 0.8rem 0.8rem; */
}
.image {
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}
.name {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.name h3 {
  text-transform: capitalize;
  font-size: 1.6rem;
  font-family: var(--rooney-Heavy);
  max-width: 16.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.name p {
  font-size: 1.6rem;
  font-family: var(--rooney-regular);
  max-width: 16.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.icon {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  /* margin: auto; */
}
.icon p {
  font-size: 1.4rem;
  font-family: var(--nunito-medium);
}

.time p {
  width: 6.9rem;
  white-space: nowrap;
}
.numbercard p {
  width: 2.6rem;
}

.flexcol {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: flex-start;
}
.flexcol .icon {
  margin: 0;
}
.flexrow {
  display: flex;
  gap: 2.6rem;
  justify-content: space-between;
}

/* part2 deck */
.deck2 {
  height: 24rem;
  background-color: #f5f5f7;
  border-radius: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  transition: 0.3s;
  /* gap: 2.3rem; */
}

.image2 {
  width: 17.3rem;
  height: 10.2rem;
  background-color: white;
  object-fit: cover;
  object-position: center;
  object-position: center;
}
.bigimage2 {
  overflow: hidden;
  position: relative;
  width: 17.3rem;
  height: 10.2rem;
  max-width: calc(100% - 1.6rem);

  background-color: white;
  border-radius: 0.8rem;
  margin: 0;
  margin-top: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  position: absolute;
  bottom: -60%;
  transition: 0.3s;
}
.deck2:hover .btn {
  bottom: 0.6rem;
}
.name2 {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}
.name2 h3 {
  text-align: center;
  text-transform: capitalize;
  font-size: 1.6rem;
  font-family: var(--rooney-Heavy);
  width: calc(100% - 3.2rem);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.name2 p {
  font-size: 1.6rem;
  font-family: var(--rooney-regular);
  width: calc(100% - 3.2rem);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.icon2 {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  margin: 0;
}
.icon2 p {
  font-size: 1.4rem;
  font-family: var(--nunito-medium);
}

.time2 p {
  white-space: nowrap;
}

.flexrow2 {
  width: calc(100% - 2rem);
  display: flex;
  justify-content: space-between;
}
