.editortrain .image {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: center;
  justify-content: center;
}
.editortrain .image img {
  max-width: 100%;
  align-items: center;
  border-radius: 0.8rem;
  height: auto;
}
.editortrain p img {
  border-radius: 0.8rem;
}
.editortrain .image-style-side {
  max-width: 17.3rem;
  padding-left: 10px;
  float: right;
  justify-content: flex-end;
}
/* 
.editortrain .image-style-side img {
  max-width: 50%;
} */
