.navbar {
  height: calc(100vh - 4rem);
  border-radius: 2.4rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  transition: 0.3s;
}

.logo {
  width: 7rem;
  margin-left: 2rem;
  margin-top: 1.8rem;
}

.items {
  align-items: flex-start;
  /* background-color: yellow; */
  padding: 0;
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  /* height: 40vh; */
  justify-content: space-between;
  align-items: flex-start;
  transition: 0.1s;
  list-style: none;
  gap: 2rem;
  margin-top: 5.4rem;
  margin-bottom: auto;
}

.item {
  height: 4.8rem;
  overflow: hidden;
  width: 100%;
  border-radius: 1000px;
  /* background-color: white; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.6rem;
  transition: 0.2s;
  text-decoration: none;
}
.item li {
  transition: all 0.3s;
  margin-right: 1.6rem;
  color: white;
  font-size: 2rem;
  font-family: var(--rooney-medium);
}

.item img {
  width: 4.8rem;
  aspect-ratio: 1/1;
}
.active {
  background-color: white;
  transition: 0.3s;
}
.active img {
  filter: invert(100%);
}
.active li {
  color: black;
}

.burger {
  margin-left: 3rem;
  margin-bottom: 1.8rem;
  cursor: pointer;
}
