.navbar {
  position: fixed;
  top: 20px;
  left: 14px;

  height: calc(100vh - 40px);
  border-radius: 24px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  transition: 0.3s;
}

.logo {
  width: 70px;
  margin-left: 20px;
  margin-top: 18px;
}

.items {
  align-items: flex-start;
  /* background-color: yellow; */
  padding: 0;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  /* height: 40vh; */
  justify-content: space-between;
  align-items: flex-start;
  transition: 0.1s;
  list-style: none;
  gap: 20px;
  margin-top: 54px;
  margin-bottom: auto;
}

.item {
  height: 48px;
  overflow: hidden;
  width: 100%;
  border-radius: 1000px;
  /* background-color: white; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  transition: 0.2s;
  text-decoration: none;
}
.item li {
  transition: all 0.3s;
  margin-right: 16px;
  color: white;
  font-size: 20px;
}

.item img {
  width: 48px;
  aspect-ratio: 1/1;
}
.active {
  background-color: white;
  transition: 0.3s;
}
.active img {
  filter: invert(100%);
}
.active li {
  color: black;
}

.burger {
  margin-left: 30px;
  margin-bottom: 18px;
}
