.container {
  /* background-color: blue; */
  margin: 0 30px;
}

.search {
  /* background-color: red; */
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.profile {
  background-color: blue;
  height: 43.8rem;
  border-radius: 1.4rem;
}
