.searchnotif{
  display: flex;
  align-items: center;
  width: 100%;
  /* gap:3.2rem ; */
  justify-content: space-between;
}

.search{
    width: calc(100% - 14.2rem);
    position: relative;
  }
  .searchicon{
    position: absolute;
    left: 1.4rem;
    top: .9rem;
    bottom: .9rem;
  }
  .searchinput{
    height: 4rem;
    border: none;
    background-color: #F5F5F7;
    font-family: var(--rooney-medium);
    font-size: 1.6rem;
    border-radius: .8rem;
    width: calc(100% - 5.9rem);
    padding-left: 4.5rem;
    padding-right: 1.4rem;
    
  }
  .searchinput:focus{
    outline-color: black;
  }
  
  .notifprof{
    width: 12rem;
    display:flex;
    justify-content: space-between;
  }

  .notificationsicons{
    position: relative;
  }
  .notificationsicons p{
    position: absolute;
    color: white;
    font-size: 1.2rem;
    font-family: var(--nunito-medium);
    background-color: #F66163;
    padding: 0 0.3rem;
    border-radius: 2.6rem;
    right: -0.9rem;
    top:-0.4rem;
  }
  .profile{
    width: 4rem;
    height: 4rem;
    border-radius: 0.8rem;
    background-color: #F5F5F7;
  }
  .prof{
    display: flex;
    gap: 0.8rem; ;
  }