.all{
    width: 15.1rem;
}
.text{
    font-size: 1.2rem ;
    text-align: end;
    font-family: var(--nunito-medium);
}
.container{
    background-color: #CCCCCC;
    height: .6rem;
    width: 15.1rem;
    border-radius: 10rem;
}
.skill{
    background-color: black;
    border-radius: 10rem;
    height: 100%;
}
.active{
    display: none;
}