

.content {
  /* background-color: red; */
  width: 10rem;
  height: 10rem;
  width: calc(100% - 12.2rem);
  /* height: calc(100vh - 6.8rem); */
  margin-left: 12.2rem;
  margin-top: 3.4rem;
  transition: .3s;
}
.menuopen{
  width:calc(100% - 25.7rem); 
  margin-left: 25.7rem;
}
